.Content {
	border-radius: calc(8px * 1 * 1.5);
	padding: 12px;
	width: 340px;
	background-color: color(display-p3 .098 .098 .098);
  	border: 1px solid color-mix(in oklab, color(display-p3 1 1 1 / .172), color(display-p3 .228 .228 .228) 25%);
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI (Custom)", Roboto, "Helvetica Neue", "Open Sans (Custom)", system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
 	box-shadow:
		hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
		hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
	animation-duration: 400ms;
	animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
	will-change: transform, opacity;
	&[data-side="top"] {
		animation-name: slideDownAndFade;
	}
	&[data-side="right"] {
		animation-name: slideLeftAndFade;
	}
	&[data-side="bottom"] {
		animation-name: slideUpAndFade;
	}
	&[data-side="left"] {
		animation-name: slideRightAndFade;
	}
}

.Arrow {
	fill: #222222;
}
.Title {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: normal;
  font-weight: 700;
  font-style: normal;
  margin: 0;
  margin-bottom:4px
}

@keyframes slideUpAndFade {
	0% {
		opacity: 0;
		transform: translateY(2px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes slideRightAndFade {
	0% {
		opacity: 0;
		transform: translateX(-2px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes slideDownAndFade {
	0% {
		opacity: 0;
		transform: translateY(-2px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes slideLeftAndFade {
	0% {
		opacity: 0;
		transform: translateX(2px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}